.nfile {
	font-size: 12px;
	color: gray !important;
	text-decoration: none;
}

.nfile:hover {
	text-decoration: underline;
}
.nless-1gb.nadult-not {
	color: #0000b0 !important;
	font-weight: bold;
}

.nless-1gb.nadult {
	color: darkred !important;
	font-weight: bold;
}

.nmovie.nless-3_5gb {
	color: #0000b0 !important;
	font-weight: bold;
}

.nseason.nless-10gb {
	color: indigo !important;
	font-weight: bold;
}

.nepisode.nion10 {
	color: darkcyan !important;
	font-weight: bold;
}
.nimageset {
	color: darkgoldenrod !important;
	font-weight: bold;
}
.nthumbnail {
	max-width: 250px;
}

.nless-10-minutes {
	color: tomato !important;
	font-weight: bold;
}

.nless-1-hour {
	color: darkgreen !important;
	font-weight: bold;
}

.nless-1-day {
	color: darkblue !important;
	font-weight: bold;
}

.nless-1-month {
	color: blue !important;
	font-weight: bold;
}

.nless-1-year {
	color: black !important;
	font-weight: bold;
}

.nmore-5-years {
	color: darkred !important;
}

.msg.msg-seen {
	color: gray;
}


.msg.msg-not-seen {
	font-weight: bold;
}